<section>
  <form>
      <label for="nome">Nome: </label>
      <input type="text" name="nome" placeholder="Informe o nome do produto" />
      <label for="descricao">Descrição</label>
      <textarea name="descricao" placeholder="inclua a descrição do produto" />
  </form>
</section>
