<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @produtos %>
  </tbody>
</table>

<%= link_to "Criar novos produtos", new_produto_path %>
